<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="https://kauth.kakao.com/oauth/authorize?client_id=a40262e749484fcf96db2be835e1eba9&redirect_uri=
http://localhost:11111/login&response_type=code">로그인</a>
    <a href="https://kauth.kakao.com/oauth/logout?client_id=a40262e749484fcf96db2be835e1eba9&logout_redirect_uri=http://localhost:11111/logout">로그아웃</a>
</body>
</html>